#!/bin/sh
# File: make.template
# Author: Oxnz
# Created
# Description: template file for filetype: [make] with suffix: [make]


#
# %FFILE%
# %USER%, %FDATE%
#

all:
	%HERE%@echo "%FFILE% needs your attention"


	# vim:ft=make
	#
