### Settings for Android Tool
#Thu Oct 03 03:32:52 GMT+08:00 2013
http.proxyPort=
sdkman.enable.previews=false
http.proxyHost=
sdkman.show.update.only=true
sdkman.ask.adb.restart=false
sdkman.force.http=true
sdkman.use.dl.cache=false
